<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.account.mapper.AccountOrderMapper">
  <resultMap id="BaseResultMap" type="com.account.bean.AccountOrder">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="AO_PARENT_ID" jdbcType="VARCHAR" property="aoParentId" />
    <result column="AO_IS_FINISH" jdbcType="CHAR" property="aoIsFinish" />
    <result column="AO_CREATE_TIME" jdbcType="TIMESTAMP" property="aoCreateTime" />
    <result column="AO_DETAIL_ID" jdbcType="BIGINT" property="aoDetailId" />
    <result column="AO_NUMBER" jdbcType="VARCHAR" property="aoNumber" />
    <result column="AO_PAY_TYPE" jdbcType="VARCHAR" property="aoPayType" />
    <result column="AO_COMMODITY_NUMBER" jdbcType="INTEGER" property="aoCommodityNumber" />
    <result column="AO_EFFECTIVE_TIME" jdbcType="REAL" property="aoEffectiveTime" />
    <result column="AO_DELIVERY_TIME" jdbcType="TIMESTAMP" property="aoDeliveryTime" />
    <result column="AO_EXPRESS_TYPE" jdbcType="VARCHAR" property="aoExpressType" />
    <result column="AO_DEVELOP_01" jdbcType="VARCHAR" property="aoDevelop01" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from AC_ACCOUNT_ORDER
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.account.bean.AccountOrder" keyProperty="ID" useGeneratedKeys="true">
    insert into AC_ACCOUNT_ORDER (ID, AO_PARENT_ID, AO_IS_FINISH, 
      AO_CREATE_TIME, AO_DETAIL_ID, AO_NUMBER, 
      AO_PAY_TYPE, AO_COMMODITY_NUMBER, AO_EFFECTIVE_TIME, 
      AO_DELIVERY_TIME, AO_EXPRESS_TYPE, AO_DEVELOP_01
      )
    values (#{id,jdbcType=BIGINT}, #{aoParentId,jdbcType=VARCHAR}, #{aoIsFinish,jdbcType=CHAR}, 
      #{aoCreateTime,jdbcType=TIMESTAMP}, #{aoDetailId,jdbcType=BIGINT}, #{aoNumber,jdbcType=VARCHAR}, 
      #{aoPayType,jdbcType=VARCHAR}, #{aoCommodityNumber,jdbcType=INTEGER}, #{aoEffectiveTime,jdbcType=REAL}, 
      #{aoDeliveryTime,jdbcType=TIMESTAMP}, #{aoExpressType,jdbcType=VARCHAR}, #{aoDevelop01,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.account.bean.AccountOrder">
    update AC_ACCOUNT_ORDER
    set AO_PARENT_ID = #{aoParentId,jdbcType=VARCHAR},
      AO_IS_FINISH = #{aoIsFinish,jdbcType=CHAR},
      AO_CREATE_TIME = #{aoCreateTime,jdbcType=TIMESTAMP},
      AO_DETAIL_ID = #{aoDetailId,jdbcType=BIGINT},
      AO_NUMBER = #{aoNumber,jdbcType=VARCHAR},
      AO_PAY_TYPE = #{aoPayType,jdbcType=VARCHAR},
      AO_COMMODITY_NUMBER = #{aoCommodityNumber,jdbcType=INTEGER},
      AO_EFFECTIVE_TIME = #{aoEffectiveTime,jdbcType=REAL},
      AO_DELIVERY_TIME = #{aoDeliveryTime,jdbcType=TIMESTAMP},
      AO_EXPRESS_TYPE = #{aoExpressType,jdbcType=VARCHAR},
      AO_DEVELOP_01 = #{aoDevelop01,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select ID, AO_PARENT_ID, AO_IS_FINISH, AO_CREATE_TIME, AO_DETAIL_ID, AO_NUMBER, AO_PAY_TYPE, 
    AO_COMMODITY_NUMBER, AO_EFFECTIVE_TIME, AO_DELIVERY_TIME, AO_EXPRESS_TYPE, AO_DEVELOP_01
    from AC_ACCOUNT_ORDER
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, AO_PARENT_ID, AO_IS_FINISH, AO_CREATE_TIME, AO_DETAIL_ID, AO_NUMBER, AO_PAY_TYPE, 
    AO_COMMODITY_NUMBER, AO_EFFECTIVE_TIME, AO_DELIVERY_TIME, AO_EXPRESS_TYPE, AO_DEVELOP_01
    from AC_ACCOUNT_ORDER
  </select>
</mapper>