<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.account.mapper.AppNameMapper">
    <!--<cache eviction="LRU" type="com.account.common.utils.RedisCache" />-->
    <resultMap id="BaseResultMap" type="com.account.bean.AppName">
        <id column="AppId" jdbcType="BIGINT" property="appId"/>
        <result column="AppType" jdbcType="VARCHAR" property="appType"/>
        <result column="AppName" jdbcType="VARCHAR" property="appName"/>
        <result column="AppPinyin" jdbcType="VARCHAR" property="appPinyin"/>
    </resultMap>
    <sql id="Base_Column_List">
       AppId,AppType,AppPinyin,AppName
    </sql>
    <select id="getAppName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
         from AC_APPNAME where MATCH(AppType,AppName,AppPinyin) AGAINST(#{search} IN NATURAL LANGUAGE MODE)
    </select>

    <select id="getAppNameById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from AC_APPNAME where AppId = #{appId,jdbcType=BIGINT}
    </select>
</mapper>