<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.account.mapper.AppQuMapper">
    <resultMap id="BaseResultMap" type="com.account.bean.AppQu">
        <id column="QuId" jdbcType="BIGINT" property="QuId"/>
        <result column="ParentId" jdbcType="BIGINT" property="ParentId"/>
        <result column="QuName" jdbcType="VARCHAR" property="QuName"/>
        <result column="AppId" jdbcType="BIGINT" property="AppId"/>
    </resultMap>
    <sql id="Base_Column_List">
       QuId,ParentId,QuName,AppId
    </sql>
    <select id="getAppQu" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
         from AppQu where AppId = #{AppId,jdbcType=BIGINT}
    </select>

</mapper>