<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.account.mapper.AppTypeMapper">
    <cache eviction="LRU" type="com.account.common.utils.RedisCache" />
    <resultMap id="BaseResultMap" type="com.account.bean.AppType">
        <id column="TypeId" jdbcType="INTEGER" property="TypeId"/>
        <result column="TypeName" jdbcType="VARCHAR" property="TypeName"/>
    </resultMap>
    <sql id="Type_List">
       TypeId,TypeName
    </sql>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Type_List"/>
         from AppType where TypeName =  #{TypeName,jdbcType=VARCHAR}
    </select>


</mapper>