<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.account.mapper.DepositMapper">
    <cache eviction="LRU" type="com.account.common.utils.RedisCache" />
    <resultMap id="BaseResultMap" type="com.account.bean.Deposit">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="PersonId" jdbcType="BIGINT" property="PersonId"/>
        <result column="pIsRegistered" jdbcType="VARCHAR" property="pIsRegistered"/>
    </resultMap>

    <insert id="insert" parameterType="com.account.bean.Deposit" keyProperty="id" useGeneratedKeys="true" keyColumn="GENERATED_KEY">
      insert into AC_Deposit (ID,PersonId,pIsRegistered)
    values (#{id,jdbcType=BIGINT},{PersonId,jdbcType=BIGINT},#{pIsRegistered,jdbcType=VARCHAR})
  </insert>

    <sql id="Base_Column_List">
        ID,pIsRegistered,PersonId
  </sql>
    <select id="getRealNameByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from AC_Deposit
        where PersonId = #{PersonId,jdbcType=BIGINT}
    </select>
</mapper>