li{ list-style:none; }
a:link{text-decoration: none; color:#000;}
a:visited{ color:#000;}
*{padding: 0 ; margin: 0;}
body{
	/*background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);*/
	background-color: rgba(50,50,50,1);
}
#content{
	position:fixed;
	top:50%;
	left:50%;
	margin:-150px 0 0 -225px;
	width:450px;
	height:200px;
}
#logo{
	font-size:64px;
	margin:0 auto;
	width:200px;
	height:100px;
}
#search_box{
	width: 430px;
	height: 40px;
	box-shadow: rgba(0,0,0,0.5) 3px 3px 5px;
	border-radius: 25px;
	border: 2px solid rgba(255,184,108,0.9);
}
#search{
	outline: none;
	background: rgba(50,50,50,1);
	width: 350px;
	height: 40px;
	border:none;
	border-radius: 25px 0 0 25px;
	font-size: 16px;
	padding-left: 20px;
	color: #5d5d5d;
	cursor:text;
	float: left;
}

#search_btn{
	float: left;
	outline: none;
	background:rgba(50,50,50,1);
	width: 80px;
	height: 40px;
	cursor:pointer;
	color: rgba(255,184,108,0.9);
	font-size: 20px;
	font-weight:500;
	border:none;
	border-radius:0 25px 25px 0;
}
#search_btn:hover{
	color:rgba(251, 156, 55, 0.9);
}
#nav_box{
	position:fixed;
	top:85%;
	left:92%;
	width:50px;
	height:50px;
	border-radius:30px;
	box-shadow:#666 3px 3px 15px;
}
#nav{
	position:absolute;
	top:30px;
	left:30px;
	width:0px;
	height:0px;
	border-radius:8px;
	display:none;
	opacity:0;
	background-color:#1674a6;
}

#nav_btn{
	width:50px;
	height:50px;
	border-radius:30px;
	color:#FFF;
	font-size:60px;
	font-weight:400;
	text-align:center;
	line-height:50px;
	cursor:pointer;
	background-color:#1674a6;
	background-image: url("/common/img/nav_btn.png");
	transform:rotate(0deg);
	transform:scale(1,1);
	transition: transform 350ms;  /*旋转的动画效果*/
}
#nav_btn:hover{
	transform:rotate(90deg) scale(1.05,1.05);/*过度动画*/
}
#user_box{
	width:100%;
	height:40px;
	text-align:center;
	line-height:40px;
	color:#FFF;
	font-size:24px;
	border-radius:8px 8px 0 0;
	background-color:#07496c;
	cursor:pointer;
}

#uuser{
	text-align:left;
	color:#FFF;
	font-size:16px;
}
.nav_on_box{
	width:100%;
	height:28px;
	text-align:center;
	line-height:28px;
	background:#1674a6;
	border-bottom:2px solid #2533b4;
	cursor:pointer;
	color:#FFF;
	font-size:12px;
	transition:background 0.3s;
}
.nav_on_box:hover{
	background:#4aa3d3;
}

.nav_second{
	position:absolute;
	top:-180px;
	left:-965px;
	width:790px;
	height:210px;
	border-radius:8px;
	display:none;
	background-color:#1674a6;
	z-index:-1;
}
#second_shoppingcar{
	background-color:#ffe516;
}
#second_main{
	background-color:#ff9416;
}
#main_box{
	width:200px;
	height:40px;
	text-align:center;
	line-height:40px;
	color:#FFF;
	font-size:24px;
	border-radius:8px 8px 0 0;
	background-color:#07496c;
	cursor:pointer;
}
/*#logout{*/
	/*width:200px;*/
	/*height:40px;*/
	/*text-align:center;*/
	/*line-height:40px;*/
	/*color:#FFF;*/
	/*font-size:24px;*/
	/*border-radius:8px 8px 0 0;*/
	/*background-color:#07496c;*/
	/*cursor:pointer;*/
/*}*/
.nav_AppIndex{
	width: 30px;
	height: 30px;
	float: left;
	color: white;
	cursor: pointer;
	text-align: center;
	line-height: 30px;
	background: #3399CC;
	transition:background 0.3s;
	border-bottom: 1px solid #6666CC;
}
.nav_AppIndex:hover{
	background: #33CCCC;
}

#fieldApp{
	width: 900px;
	margin: 0 auto;
	padding-top: 30px;
	cursor: pointer;
}
.nr{
	text-align: center;
	width: 80px;
	height: 30px;
	margin: 2px;
	cursor: pointer;
	color: #202020;
	transition: color 0.3s;
}
.nr:hover{
	color: #5d5d5d;
}