li{ list-style:none; }
a:link{text-decoration: none; color:#000;}
a:visited{ color:#000;}
*{padding: 0 ; margin: 0;}
body{
    /*background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);*/
}


#top{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background-color: #404969;
    z-index: 50;
    box-shadow: #000 0px 5px 8px;
}
#logo{
    width: 100px;
    height: 100px;
    float: left;
    font-size: 50px;
    line-height: 100px;
    margin-left: 80px;
    color: #fff;
}
#search_border{
    margin-top:31px;
    width: 260px;
    height: 35px;
    margin-right: 100px;
    float: right;
}
#search{
    outline: none;
    width: 214px;
    height: 35px;
    border:1px solid #000;
    border-right: none;
    float: left;
    cursor:text;
    color: #5d5d5d;
    padding-left: 10px;
    background-color: #fff;
    border-radius: 5px 0 0 5px;
}
#search_btn{
    width: 34px;
    height: 33px;
    border:1px solid #000;
    float: left;
    border-left: none;
    cursor: pointer;
    background: #fff url("/common/img/search1.png");
    border-radius: 0 5px 5px 0;
}

#left{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 120px;
    width: 150px;
    z-index: 4;
    background-color: #404969;
}
.option{
    background-color: #404969;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
    margin: 5px 0;
    transition: margin-left 350ms;
    cursor: pointer;
    color: #fff;
}
.option:hover{
    margin-left: 10px;
    box-shadow: #000 3px 3px 10px;
}



.content{
    display: none;
}
#center{
    display: block;
}









.content{
    position: absolute;
    top: 120px;
    left: 50%;
    margin-left:-500px ;
    width: 1000px;
    height: 450px;
    z-index: 3;
    /*background-color: #2aabd2;*/
}

.certification{
    width: 780px;
    height: 300px;
    margin: 0 auto;
}
.info{
    margin: 20px auto;
    width: 450px;
    height: 45px;
}
.text{
    width: 80px;
    height: 45px;
    text-align: left;
    line-height: 40px;
    float: left;
}
.input_box{
    float: left;
    width: 350px;
    height: 40px;
}

.input{
    outline: none;
    width: 330px;
    height: 40px;
    cursor: text;
    padding-left: 20px;
    border: 2px solid #CC3333;
}
.upload{
    outline: none;
    width: 330px;
    height: 40px;
    background: #66CC99;
    font-size: 18px;
    line-height: 40px;
    cursor: pointer;
    border: none;
    margin: 0 auto;
}

#uuser{
    text-align:left;
    color:#FFF;
    font-size:16px;
}


/*上传input*/
.myUpload
{
    position: relative;
    top: 0;
    left: 0;
    width: 250px;
    height: 150px;
    opacity: 0;
    z-index: 100;
}

/*隐藏*/
.hide
{
    display: none;
}
/*上传的图片*/
.add
{
    position: relative;
    top: -150px;
    left: 0;
    width: 250px;
    height: 150px;
    z-index: -1;
}
/*显示上传的图片*/
.show
{	position: relative;
    top: -300px;
    left: 0;
    width: 250px;
    height: 150px;
    z-index: 2;
}






#nav_box{
    position:fixed;
    top:85%;
    left:92%;
    width:50px;
    height:50px;
    border-radius:30px;
    box-shadow:#666 3px 3px 15px;
}
#nav{
    position:absolute;
    top:30px;
    left:30px;
    width:0px;
    height:0px;
    border-radius:8px;
    display:none;
    opacity:0;
    background-color:#1674a6;
}

#nav_btn{
    width:50px;
    height:50px;
    border-radius:30px;
    color:#FFF;
    font-size:60px;
    font-weight:400;
    text-align:center;
    line-height:50px;
    cursor:pointer;
    background-color:#1674a6;
    background-image: url("/common/img/nav_btn.png");
    transform:rotate(0deg);
    transform:scale(1,1);
    transition: transform 350ms;  /*旋转的动画效果*/
}
#nav_btn:hover{
    transform:rotate(90deg) scale(1.05,1.05);/*过度动画*/
}
#user_box{
    width:100%;
    height:40px;
    text-align:center;
    line-height:40px;
    color:#FFF;
    font-size:24px;
    border-radius:8px 8px 0 0;
    background-color:#07496c;
    cursor:pointer;
}
.nav_on_box{
    width:100%;
    height:28px;
    text-align:center;
    line-height:28px;
    background:#1674a6;
    border-bottom:2px solid #2533b4;
    cursor:pointer;
    color:#FFF;
    font-size:12px;
    transition:background 0.3s;
}
.nav_on_box:hover{
    background:#4aa3d3;
}


#up_img_box{
    width: 550px;
    height: 200px;
    margin: 0 auto;
}
.up_img{
    width: 250px;
    height: 150px;
    margin: 2px;
    border: 1px solid #bcbcbc;
    float: left;
}

