*{padding: 0 ;margin: 0}
body{
	/*background:#e0fcff;*/
}
#top{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100px;
	background-color: #404969;
	z-index: 50;
	box-shadow: #000 0px 5px 8px;
}

#uuser{
	text-align:left;
	color:#FFF;
	font-size:16px;
}
#logo{
	width: 100px;
	height: 100px;
	float: left;
	font-size: 50px;
	line-height: 100px;
	margin-left: 80px;
	color: #fff;
}
#search_border{
	margin-top:31px; 
	width: 260px;
	height: 35px;
	margin-right: 100px;
	float: right;
}
#search{
	outline: none;
	width: 214px;
	height: 35px;
	border:1px solid #000;
	border-right: none;
	float: left;
	cursor:text;
	color: #5d5d5d;
	padding-left: 10px; 
	background-color: #fff;
	border-radius: 5px 0 0 5px;
}
#search_btn{
	width: 34px;
	height: 33px;
	border:1px solid #000;
	float: left;
	border-left: none;
	cursor: pointer;
	background: #fff url("/common/img/search1.png");
	border-radius: 0 5px 5px 0;
}

#nav_box{	
	position:fixed;
	top:85%;
	left:92%;
	width:50px;
	height:50px;
	border-radius:30px;
	box-shadow:#666 3px 3px 15px;
}
#nav{
	position:absolute;
	top:30px;
	left:30px;
	width:0px;
	height:0px;
	border-radius:8px;
	display:none;
	opacity:0;
	background-color:#1674a6;
}

#nav_btn{
	width:50px;
	height:50px;
	border-radius:30px;
	color:#FFF;
	font-size:60px;
	font-weight:400;
	text-align:center;
	line-height:50px;
	cursor:pointer;
	background:#1674a6 url("/common/img/nav_btn.png");
	transform:rotate(0deg);
	transform:scale(1,1);
	transition: transform 0.5s;  /*旋转的动画效果*/
	}
#nav_btn:hover{
	transform:rotate(90deg) scale(1.05,1.05);/*过度动画*/
}
#user_box{
	width:100%;
	height:40px;
	text-align:center;
	line-height:40px;
	color:#FFF;
	font-size:24px;
	border-radius:8px 8px 0 0;
	background-color:#07496c;
	cursor:pointer;
}
.nav_on_box{
	width:100%;
	height:28px;
	text-align:center;
	line-height:28px;
	background:#1674a6;
	border-bottom:2px solid #2533b4;
	cursor:pointer;
	color:#FFF;
	font-size:12px;
	transition:background 0.3s;
}
.nav_on_box:hover{
	background:#4aa3d3;
}

#conditions{
	position:fixed;
	top:120px;
	left:79.3%;
	width: 200px;
	height: 220px;
	background: #8d96b4;
	border: 1px solid #000;
	border-radius:8px;
}


#goodsinfo{
	margin: 120px 0 0 6%;
	height: 1px;
	width: 75%;
}
.goods_box{
	margin: 20px;
	width: 200px;
	height: 300px;
	background: #bde4f4;
	cursor: pointer;
	float: left;
}
.goods_box:hover{
	color:#fff;
	background: #ff7a73;
	box-shadow: #9d9d9d 0 0 15px;
}
.app_img{
	float: left;
	margin: 10px;
	width: 180px;
	height: 180px;
	background: #5e5e5e;
	overflow: hidden;
}
.app_text{
	margin:0 10px;
	font-size: 12px;
	float: left;
}

#conditions select{
	margin: 10px;
	width: 180px;
	height: 30px;
	outline: none;
	cursor: pointer;
	border-radius: 6px;
}


#conditions_title{
	width: 100%;
	height: 24px;
	text-align: center;
	border-radius:8px 8px 0 0;
	background-color: #404969;
	font-size: 18px;
	color: #fff;
	font-family: "微软雅黑 Light";
}